body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282828; /* Softer dark background */
    color: #f5f5f5; /* Light text */
}


h1 {
    font-size: 2.5em;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #800080;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #500050;
}


#content {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828; /* Softer dark background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-family: 'Arial', sans-serif;
}

/* Styling for the Minesweeper grid */
.minesweeper-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
    width: 80%;
    max-width: 600px;
    /*border: 2px solid #ccc;*/
    border-radius: 10px;
    overflow: hidden;
}

/* Styling for individual cells */
.cell {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
    line-height: 40px; /* Center text vertically */
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    color: #333;
    border-radius: 5px;
}

.cell:hover {
    background-color: #d5d5d5;
}

.cell:active {
    background-color: #cccccc;
}

.cell.revealed {
    background-color: #fafafa;
    border: 1px solid #ddd;
    cursor: default;
}

/*.cell.mine {*/
/*    background-color: #f44336;*/
/*    color: #fff;*/
/*}*/

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2px;
    border: 2px solid #333; /* Add a border around the entire grid */
    border-radius: 10px; /* Add rounded corners to the grid */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Add a shadow for a 3D effect */
}

.sudoku-cell {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc; /* Add a border to each cell */
    border-radius: 5px; /* Add rounded corners to each cell */
    background-color: #f5f5f5; /* Change the background color of each cell */
    font-size: 18px; /* Increase the font size */
    color: #333; /* Change the color of the text */
    transition: background-color 0.2s ease; /* Add a transition effect when the cell value changes */
}

.sudoku-cell:hover {
    background-color: #e0e0e0; /* Change the background color when hovering over a cell */
}

.sudoku-cell:focus {
    background-color: #d5d5d5; /* Change the background color when a cell is focused */
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.question-container {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question-container h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.choice-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.choice-container input[type="radio"] {
    margin-right: 10px;
}

.choice-container label {
    font-size: 1em;
    color: #666;
    cursor: pointer;
}

.choice-container:hover {
    background-color: #e9e9e9;
}

.quiz-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    margin-top: 20px;
}

.quiz-container button:hover {
    background-color: #0056b3;
}

.tic-tac-toe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.tic-tac-toe-cell {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 24px;
    color: #333;
    transition: background-color 0.2s ease;
}

.tic-tac-toe-cell:hover {
    background-color: #e0e0e0;
}

.tic-tac-toe-cell:disabled {
    background-color: #d5d5d5;
    cursor: default;
}

.number-guessing-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.number-guessing-game-container h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.number-guessing-game-container input {
    padding: 10px;
    border: 2px solid #800080; /* Add a border */
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
    background-color: #fff; /* Change the background color to white */
}

.number-guessing-game-container .message-container {
    padding: 10px; /* Add some padding */
    margin-top: 20px;
    font-size: 1.2em;
    color: #666;
    border: none; /* Remove the border */
    background-color: transparent; /* Make the background color transparent */
}

.number-guessing-game-container button,
.win-popup button,
.lose-popup button {
    padding: 10px 20px;
    background-color: #800080; /* Purple buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.number-guessing-game-container button:hover,
.win-popup button:hover,
.lose-popup button:hover {
    background-color: #500050; /* Darker purple on hover */
}

.number-guessing-game-container label {
    display: block; /* Make the label a block element */
    margin-bottom: 10px; /* Add some space below the label */
    font-size: 1em;
    color: #333;
}

.riddle-text {
    color: #282828; /* Change this to the color you want */
}

.win-popup, .lose-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: none; /* Remove the border */
    border-radius: 10px; /* Increase the border radius */
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Add a shadow for a 3D effect */
    width: 80%; /* Set a width */
    max-width: 500px; /* Set a maximum width */
    font-family: Arial, sans-serif; /* Set a font */
    font-size: 18px; /* Set a font size */
}

.win-popup h2, .lose-popup h2 {
    margin-bottom: 20px; /* Add some space below the heading */
    color: #333; /* Set a color for the heading */
}

.win-popup button, .lose-popup button {
    padding: 10px 20px; /* Add some padding to the button */
    border: none; /* Remove the border from the button */
    border-radius: 5px; /* Add some border radius to the button */
    background-color: #800080; /* Set a background color for the button */
    color: #fff; /* Set a color for the button text */
    cursor: pointer; /* Change the cursor when hovering over the button */
    transition: background-color 0.3s ease; /* Add a transition effect when hovering over the button */
}

.win-popup button:hover, .lose-popup button:hover {
    background-color: #500050; /* Change the background color when hovering over the button */
}

#game-container h2 {
    text-align: center;
    font-size: 2em;
    color: #282828; /* Softer yellow headings */
    margin-bottom: 20px;
}

#game-container {
    border-radius: 15px; /* This will make the corners rounded */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* This will give the box a stronger shadow, making it appear more lifted */
    padding: 20px; /* This will add some space inside the box */
    background-color: #fff; /* This will make the box white. Change this color to suit your design */
    margin-top: 50px; /* This will add some space above the box, making it appear more lifted */
}